[alias]
	st = status
	ci = commit
	co = !cowsay 'checkoutでbranch移動 老害おめ' && echo "`git switch --create branch`"
	br = branch
	sw = switch

[core]
	editor = vim
[user]
	name = sawa-zen
	email = sawadasuiren@gmail.com
[color]
	ui = auto
[rebase]
	autosquash = true
