{
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "semi" : [2 , "always"], // 自動セミコロンを禁止
    "strict" : 2, // strictモード絶対
    "camelcase": 2, // 変数はcamelcaseで
    "no-unused-vars": [2, {"vars" : "all", "args" : "after-used"} ], // 未使用変数は禁止
    "key-spacing" : [2, {
      "afterColon" : true // コロンの後は必ずスペース一つ空ける
    }],
    "quotes": [2, "single"],
    "no-console": 0
  }
}
