[alias]
	# いい感じのグラフでログを表示
	graph = log --graph --oneline --decorate=full
	st = status
	ci = commit
	 # Untracked filesを表示せず，not stagedと，stagedだけの状態を出力する
	stt = status -uno
	# 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
	difff = diff --word-diff
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[core]
	editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore
[diff]
	external = git_diff_wrapper
[pager]
	diff =
[user]
	name = sawada
	email = sawadasuiren@gmail.com
[color]
	ui = auto
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
